@font-face {
    font-family: Poppins;
    src: url('others/Poppins-Bold.ttf');
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 0px;
    min-width: 100%;
    background-color: ghostwhite;
}

img {
    animation-duration: 5s;
    animation-name: bitcoin;
    animation-iteration-count: infinite;
}
  
@keyframes bitcoin {
    from { transform: rotateY(360deg); }
}

#heading {
    display: flex;
    color: white;
    align-items: center;
    background-color: navy;
}

#heading-h1 {
    display: flex;
    height: 102px;
    padding-top: 8px;
    align-items: center;
    letter-spacing: 2px;
    font-family: Poppins;
    text-shadow: 1px 1px 2px white;
}

#notifyMe {
    color: navy;
    display: flex;
    align-items: center;
    font-family: Poppins;
}

#inputs {
    background-color: white;
    box-shadow: 0px 0px 10px lightgray;
    border-bottom: 2px solid lightgray;
}

#maxValue, #maxValue1 {
    width: 265px;
    padding: 5px;
    font-size: 18px;
    border: 2px solid navy;
}

#save {
    border: none;
    padding: 5px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    transition: 0.2s;
    width: fit-content;
    border-radius: 2px;
    border: 2px solid green;
    background-color: green;
}

#save:active {
    zoom: 98%;
}

#save:focus {
    outline: none;
}

#valueSaved, #valueSaved1 {
    font-size: 18px;
    font-family: Tahoma;
}

#heading2 {
    color: navy;
    margin: 50px 0px;
    text-align: center;
    font-family: Poppins;
}

#services {
    min-width: 95%;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px lightgray;
}

#service-name {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#service-name h2 {
    color: white;
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
    font-family: Poppins;
}

#values {
    height: 400px;
    background-color: white;
}

#values1, #values2 {
    height: 400px;
    overflow: auto;
    font-size: 20px;
    padding-top: 20px;
    font-family: monospace;
    color: darkslategray;
    border-right: 2px solid lightgray;
}

#time {
    float: right;
    color: gray;
    font-size: 12px;
}

div::-webkit-scrollbar {
    width: 5px;
}
  
div::-webkit-scrollbar-track {
    background: #f7f8fa; 
}
   
div::-webkit-scrollbar-thumb {
    background: lightgray; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#dltButton {
    width: 90%;
    border: none;
    display: flex;
    padding: 15px;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 3px;
    justify-content: center;
    background-color: black;
}

#dltButton:active {
    zoom: 98%;
}